:root{
    --small-c: calc((100% / 10) - 20px);
    --medium-c: calc((100% / 9) - 20px);
    --big-c: calc((100% / 7) - 20px);
}
body{
    background-image: url("../img/spaceBack.png");
    color: white!important;

}

label, select, option, h2{
    font-family: 'Silkscreen', cursive;
}

.container{
    width: 1200px;
    height: 1200px;
}

.tutorial{
    background-color: rgba(0, 0, 0, 0.75);
}

.titolo1, .tutorial{
    font-family: 'Press Start 2P', cursive;
}



.cell{
    font-family: 'Silkscreen', cursive;
    margin: 10px;
    text-align: center;
    border-radius: 0.5rem;
    border: 2.5px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.activeCell{
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    pointer-events: none;
}
.smallCell{
    width: var(--small-c);
    height: var(--small-c);
    /* line-height: calc(100% / 10); */
}

.mediumCell{
    width: var(--medium-c);
    /* line-height: calc(100% / 9); */
    height: var(--medium-c);
}

.largeCell{
    width: var(--big-c);
    height: var(--big-c);
    /* line-height: calc(100% / 7); */
}
